<header class="teal darken-1 z-depth-1">
  <div class="container">
    <h1 class="white-text"><%= @paper.title %></h1>
  </div>
</header>
<main>
  <div id="notice" class="container center-align green-text"><%= notice %></div>

  <%= render 'items/index' %>

  <section class="container">
    <h3 class="teal-text">Add</h3>
    <%= render partial: 'items/form', locals: { item: @item } %>
  </section>

  <section class="container">
    <h3 class="teal-text">Manage</h3>
    <div>Don't forget this URL!</div>
    <div class="grey lighten-4 teal-text c-url js-paper-url"><%= paper_url @paper %></div>
    <p><%= link_to 'Edit This Paper', edit_paper_path(@paper), class: 'btn' %></p>
    <p><%= link_to 'Create New Paper', new_paper_path, class: 'btn' %></p>
  </section>
</main>
