<p id="notice"><%= notice %></p>

<h1><%= @paper.title %></h1>

<div>
  Don't forget this URL!<br />
  <input class="paper-url js-paper-url" type="text" value="<%= paper_url @paper %>" readonly />
</div>

<%= render partial: 'items/form', locals: { item: @item } %>
<%= render 'items/index' %>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
