<tr class="item">
  <td><%= item.name %></td>
  <td><%= item.quantity %></td>
  <td><%= item.orderer %></td>
  <td><button class="edit_item" disabled>Edit</button></td>
  <td>
    <%= form_for item, method: :delete, remote: true, html: { id: nil, class: 'delete_item' } do |f| %>
      <%= f.submit 'Destroy' %>
    <% end %>
  </td>
</tr>
