<!DOCTYPE html>
<html>
<head>
    <title>Salt and Vinegar</title>
    <meta name="viewport" content="width=320px">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer class="page-footer grey darken-1">
  <nav class="container grey darken-1">
    <%= link_to 'Home', root_path, class: 'btn-flat white-text' %>
    <%= link_to 'Example', paper_path('example'), class: 'btn-fla white-textt' %>
  </nav>
  <div class="footer-copyright container"><small>System designed by Ginpei. Logo designed by Q.</small></div>
</footer>
</body>
</html>
